.board {
    display: grid;
    grid-template-columns: repeat(8, 10vh);
    grid-template-rows: repeat(8, 10vh);
    width: 80vh;
    height: 80vh;
    background-color: white;
    
}

/* .board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    height: 400px;
    background-color: white;
} */