.square {
    z-index: 10;
    align-content: center;
}

.square.beige {
    background-color: rgb(236, 207, 169);
}

.square.brown {
    background-color: #216f7d;
}

.square.beige:hover {
    background-color: rgb(205, 193, 178);
}

.square.brown:hover {
    background-color: #135560
}

.square.beige.holding {
    background-color: yellowgreen;
}

.square.brown.holding {
    background-color: yellowgreen;
}

.square.beige.hovering {
    background-color: gray;
}

.square.brown.hovering {
    background-color: gray;
}

.square.beige.selected {
    background-color: rgb(208, 0, 255);
}

.square.brown.selected {
    background-color: blue;
}