/*.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}*/

/* StartMenu.css */

html, body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /*background-image: url('./chess-background.jpg');
  background-size: cover;
  background-position: center;
  /*background-color: #57ee78e6*/
}

.left-column, .right-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column; /* Changed to column for vertical alignment */
  align-items: center;    /* Center content horizontally */
  justify-content: center;
  background: #933e3ee6;
  background-color: #262d27e6;
  box-shadow: 0 4px 8px #216f7d;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
}

.container button {
  background-color: #eccfa9;
  color: black;
  padding: 10px 20px; /* Smaller button size */
  margin: 10px 0;     /* Adjusted margin for vertical alignment */
  border: none;
  border-radius: 4px;
  font-size: 1rem;    /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.3s;
}

.container button:hover {
  background-color: #45a049;
}

.title {
  color: #216f7d;
  font-size: 2rem;  /* Adjusted title size */
  margin-bottom: 1rem; /* Adjusted margin */
}

.logo {
  max-width: 100%;
  max-height: 80%;
}
