.square {
    z-index: 10;
    align-content: center;
}

.square.beige {
    background-color: #eccfa9;
}

.square.brown {
    background-color: #216f7d;
}

.square.beige:hover {
    background-color: rgb(205, 193, 178);
}

.square.brown:hover {
    background-color: #135560
}

.square.beige.holding {
    background-color: #eb5074f9;
}

.square.brown.holding {
    background-color: #eb5074f9;
}

.square.beige.hovering {
    background-color: gray;
}

.square.brown.hovering {
    background-color: gray;
}

.square.beige.selected {
    /*background-color: #eccfa97b;
    border-color: #F194B4;
    border-style: solid;*/

    border: 5px solid transparent;
            
    /* Gradient border */
    border-image: linear-gradient(45deg, #eccfa9, #eb5074);
    border-image-slice: 1;
}

.square.brown.selected {
    /*background-color: #216f7d7f;
    border-color: #A0DDFF;
    border-style: solid;*/

    /* Set initial border color and width */
    border: 5px solid transparent;
            
    /* Gradient border */
    border-image: linear-gradient(45deg, #eb5074, #216f7d7f);
    border-image-slice: 1;
    
    
}